@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('bg.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  background-position: center;
}
label {
  margin-bottom: 20px;
}
.main {
  background: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #000;
  height: 300px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 20px;
}
.box1 {
  margin: 10px;
}
.box2 {
  margin: 10px;
}
.sendbox {
  margin: 10px;
}
.textlabel {
  font-size: 20px;
  color: yellowgreen;
  font-weight: 600;
}
.loading {
  color: white;
  text-align: center;
  display: none;
}
.percent {
  font-size: 25px;
  letter-spacing: 1px;
  color: white;
  font-weight: 600;
}
.progessbar {
  width: 203px;
  background: #3a4b5e;
  height: 21px;
  border-radius: 10px;
  min-width: 5px;
  position: relative;
}
.progess {
  align-items: center;
  height: 20px;
  background: #0a5aa2;
  border-radius: 10px;
  position: relative;
}
#complete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  letter-spacing: 1px;
  color: powderblue;
}

.animation {
  animation: blink 0.6s ease-in-out;
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  30% {
    opacity: 0%;
  }

  50% {
    opacity: 30%;
  }

  100% {
    opacity: 100%;
  }
}
input[type='text'] {
  background: none;
  outline: none;
  border: 0;
  border: 2px solid white;
  border-radius: 9px;
  font-size: 18px;
  padding: 5px;
  color: rgb(212, 0, 177);
  font-weight: bold;
}
input:focus {
  box-shadow: 0px 0px 3px 2px royalblue;
}
#send {
  padding: 5px 15px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 900;
  background-color: crimson;
  outline: none;
  border: 0;
  border-radius: 8px;
}
#send:hover {
  color: rgb(255, 0, 85);
  background: black;
  transition: 0.3s ease-in-out;
}
#send:active {
  opacity: 0;
}

.lovesign {
  position: absolute;
  top: 40%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transform: rotate(90deg);
}
.heart {
  position: relative;
  height: 70px;
  width: 70px;
  background: linear-gradient(45deg, red, rgb(255, 0, 212));
  display: inline-block;
  margin: 0 10px;
  transform: rotate(-45deg);
  animation: bg 0.7s linear infinite;
  background-size: 400%;
  opacity: 60%;
}
.heart::before,
.heart::after {
  content: '';
  background: linear-gradient(45deg, red, rgb(255, 0, 191));
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
}
.heart::before {
  top: -30px;
  left: 0;
}

.heart::after {
  left: -30px;
  top: 0;
}
@keyframes bg {
  0% {
    opacity: 0;
    background-position: 200%;
  }
  100% {
    opacity: 100%;

    background-position: 300px;
  }
}

@media screen and (max-width: 1080px) {
  .lovesign {
    top: 42%;
    left: 38%;
  }
}
